apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "tarot-shuffle-draw.fullname" . }}
  labels:
    {{- include "tarot-shuffle-draw.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "tarot-shuffle-draw.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "tarot-shuffle-draw.selectorLabels" . | nindent 8 }}
    spec:
      {{- if .Values.image.pullSecrets }}
      imagePullSecrets:
        {{- range .Values.image.pullSecrets }}
        - name: {{ .name }}
        {{- end }}
      {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - containerPort: 80
              name: http
          env:
            - name: GIN_MODE
              value: "release"
